<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/bootstrap/bootstrap.css}"
          rel="stylesheet"/>
    <link th:href="@{/styles/fontawesome/all.css}"
          rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}"
            type="text/javascript"></script>
</head>
<body>
<div class="card">
    <div class="card-header text-bg-dark mb-3">
        Registro de Usuarios
    </div>
    <div class="card-body">
        <form th:action="@{/auth/register}" method="post">
            <div class="mb-3">
                <label for="nombres" class="form-label">Nombres</label>
                <input  type="text" class="form-control"
                       name="nombres" id="nombres">
            </div>
            <div class="mb-3">
                <label for="apellido_paterno" class="form-label">Apellido Paterno</label>
                <input  type="text" class="form-control"
                       name="apellido_paterno" id="apellido_paterno">
            </div>
            <div class="mb-3">
                <label for="apellido_materno" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control"
                       name="apellido_materno" id="apellido_materno">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control"
                       name="email" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input maxlength="128" type="password" class="form-control"
                       name="password" id="password">
            </div>
            <button type="submit" id="btnregistrar" class="btn btn-primary">
                <i class="fas fa-save"></i>
                REGISTRAR</button>
            <a class="btn btn-primary" th:href="@{/auth/login}"
               role="button">IR AL LOGIN</a>
        </form>
    </div>
</div>
</body>
</html>