<!DOCTYPE html>
<html lang="en">
<head  th:replace="layout/layout::head"></head>
<body>

<nav th:replace="layout/layout::menu"></nav>
<script th:src="@{/scripts/web/authentication/login.js}"
        type="text/javascript"></script>

<div class="m-0 vh-100 row justify-content-center align-items-center">
    <table class="table caption-top">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario :${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombres}"></td>
                <td th:text="${usuario.apellido_paterno}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.roles}"></td>
                <td>
                    <a th:href="@{/usuario/editar/} + ${usuario.id}" type="button" class="btn btn-primary">Editar</a>
                    <a type="button" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>

        </tbody>
    </table>

</div>

</body>
</html>