<!DOCTYPE html>
<html lang="en">
<head  th:replace="layout/layout::head"></head>
<body>

<nav th:replace="layout/layout::menu"></nav>

<div class="m-0 vh-100 row p-3">

    <div class="d-flex" style="height: 31px;">
        <a class="btn btn-success" th:href="@{/productos/crear}"> Crear Producto </a>
    </div>

    <div class="row gap-3 p-2 container ">
        <div class="col" th:each="producto :${productos}" style="height: 230px; max-height: 230px;">
            <a href="#" th:href="@{/productos/visualizar/}  + ${producto.id}" class="card mx-4 text-decoration-none" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${producto.nombre}"></h5>
                    <p class="card-text" th:text="${producto.descripcion}"></p>
                    <div class="d-flex justify-content-between p-2">
                        <p th:text="${producto.precio_venta}"></p>
                        <p th:text="${producto.marca}"></p>
                    </div>
                </div>
            </a>

        </div>
    </div>

</div>

</body>
</html>