<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head  th:replace="layout/layout::head"></head>
<body>

<nav th:replace="layout/layout::menu"></nav>

<div class="m-0 vh-100 row p-3">

    <div class="d-flex" style="height: 31px;"  sec:authorize="hasRole('ROLE_USER')">
        <a class="btn btn-success" th:href="@{/productos/crear}"> Crear Producto </a>
    </div>
<!--    <p th:text="${usuario.roles.id}"></p>-->
<!--    <p th:text="${usuario.roles.nombre}"></p>-->
    <div class="row gap-3 p-2 container ">
        <section class="">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" th:each="producto :${productos}">
                        <div class="card h-100">
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder" th:text="${producto.nombre}"></h5>
                                    <p class="card-text" th:text="${producto.descripcion}"></p>
                                    <div class="d-flex justify-content-between p-2">
                                        <p > S/. <span th:text="${producto.precio_venta}"></span> </p>
                                        <p > Marca: <span th:text="${producto.marca}"></span> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/productos/visualizar/}  + ${producto.id}" >Ver Producto</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</div>

</body>
</html>