<!DOCTYPE html>
<html lang="en">
<head  th:replace="layout/layout::head"></head>
<body>

<nav th:replace="layout/layout::menu"></nav>
<script th:src="@{/scripts/web/authentication/login.js}"
        type="text/javascript"></script>

<div class="vh-100 p-3 mt-5 container mx-auto">
    <table class="table caption-top text-center">
        <caption>Lista de Usuarios</caption>
        <thead>
        <tr>
            <th scope="col">Codigo Comprador</th>
            <th scope="col">Costo delivery</th>
            <th scope="col">Costo Productos</th>
            <th scope="col">Estado Entrega</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido :${pedidos}">
            <td th:text="${pedido.usuario.id}"></td>
            <td th:text="${pedido.costo_delivery}"></td>
            <td th:text="${pedido.importe_total}"></td>
            <td>
                <p th:text="${pedido.entregado == 0} ? 'Sin Estado' : '' "></p>
                <p th:text="${pedido.entregado == 1} ? 'En Proceso de Entrega' : '' "></p>
                <p th:text="${pedido.entregado == 2} ? 'Entrega Denegada' : '' "></p>
            </td>
            <td>
                <button class="btn btn-success" type="button" id="btn-denegar" th:onclick="'cambiarEstadoEntregado('+${pedido.id}+ ')'">
                    Pasar a entrega
                </button>
                <button class="btn btn-warning" type="button" id="btn-entregar" th:onclick="'cambiarEstadoDenegado('+${pedido.id}+ ')'" >
                    Denegar Entrega
                </button>
            </td>
        </tr>

        </tbody>
    </table>

</div>

</body>
</html>